extends layout

block content
  h1 Ascend Attendance Tracker
  p.lead Logs attendance for our members.
  hr
  .row
    for person in people
      .col-sm-6
        h2 #{person.name}
        h3 Events
        for event in person.events
          p #{event}
